.container-experience{
    background-color:#f1f1f1;
    height: 500px;
}
.container-experience h2{
    text-transform: uppercase;
    text-align: center;
    padding-top: 3rem;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 30px;
}
.tech-main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20%;
    margin: 20px 30px;

}
.techExp p{
    margin-left: 10%;
    font-size: 20px;
}
.company-logo p{
    font-size: 20px;
}
.company-logo img{
    padding-top: 20px;
}
@media screen  and (max-width:600px){

    .container-experience{
    
    height: 650px;
}
.tech-main{
    display: grid;
    grid-template-columns:1fr;
    gap: 10%;

}
.tech-main img{
    width: 120px;
}
.techExp p{
    margin-left: 3%;
    font-size: 16px;
}
.company-logo p{
    font-size: 17px;
}
.company-logo img{
    width: 100px;
}

}